@tailwind components;

@layer components {
  .profile-card {
    background-image: url("@/assets/1 - ProfileCard/ProfileCardWaves.svg");
    background-size: 120%;
    background-repeat: no-repeat;
  }
}
